$color-text: rgb(51, 51, 51);
$color-background: rgb(240, 240, 240);
$color-border: rgb(102, 102, 102);
$color-visible: rgb(200, 100, 60);
$color-visible-alt: rgb(51, 51, 51);
$color-highlight: rgb(255, 200, 60);
$color-info: rgb(60, 130, 255);
$color-success: rgb(110, 150, 0);
$color-warning: rgb(100, 0, 250);
$color-danger: rgb(200, 100, 60);
$color-link: $color-info;

$color-chart-bar-active: rgba(99, 134, 0, 0.77);
$color-chart-bar-default: rgb(220, 220, 220);
