#registered-user {

  h3 {
    margin: 35px 0;
    text-align: center;
  }

  .form-inline {

    input {
      margin: 2px 0;
      width: 100%;
    }
  }

  .controls {
    margin: 15px 0;
    text-align: center;

    span {
      margin: 0 15px;
    }
  }
}
