.registered-user-chart {

  svg {
    width: 100%;
    height: auto;

    .text {
      font-size: 16px;
      font-family: $font-family-chart;
      fill: lighten($color-text, 10%);
    }

    .text-date {
      font-size: 14px;
      fill: lighten($color-text, 30%);
    }

    .bar {
      fill: $color-chart-bar-active;
    }

    .bar-background {
      fill: $color-chart-bar-default;
    }
  }
}
