.registered-user-chart {

  svg {
    width: 100%;
    height: auto;

    .text {
      font-family: $font-family-chart;
      fill: $color-text;
    }

    .bar {
      fill: $color-chart-bar-active;
    }

    .bar-background {
      fill: $color-chart-bar-default;
    }
  }
}
