<div id="registered-users" class="container">
  <div class="row">
    <div class="col-md-7 col-xl-8">
      <h2>All Registered Users</h2>
      {{registered-user-chart registeredUsers=model}}
    </div>
    <div class="col-md-5 col-xl-4">
      {{outlet}}
    </div>
  </div>
</div>
